<h2 class="text-center mx-auto mt-3 py-3 bg-info text-light">你想對誰說幹話?</h2>

<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form method="POST" action="/">
        <div class="card-columns">
          <div class="col-4">
            <div class="card mb-3 item" style="width: 18rem;">
              <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
                class="card-img-top img" alt="engineer">
              <div class="card-body custom-control custom-radio text-center p-3">
                <input type="radio" class="custom-control-input" name="jobs" value="engineer" id="engineer">
                <label class="custom-control-label" for="engineer">工程師</label>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card mb-3 item" style="width: 18rem;">
              <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
                class="card-img-top img" alt="designer">
              <div class="card-body custom-control custom-radio text-center p-3">
                <input type="radio" class="custom-control-input" name="jobs" value="designer" id="designer">
                <label class="custom-control-label" for="designer">設計師</label>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card mb-3 item" style="width: 18rem;">
              <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
                class="card-img-top img" alt="entrepreneur">
              <div class="card-body custom-control custom-radio text-center p-3">
                <input type="radio" class="custom-control-input" name="jobs" value="entrepreneur" id="entrepreneur">
                <label class="custom-control-label" for="entrepreneur">創業家</label>
              </div>
            </div>
          </div>

          <!-- submit button -->
          <div class="mt-2">
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary mb-4 py-2" type="submit">產生幹話</button>
              {{#if talkTrash}}
              <div class="alert alert-info d-inline-block ml-3" role="alert">
                <code>{{talkTrash}}</code>
              </div>
              {{/if}}
            </div>
          </div>
      </form>
    </div>
  </div>
</div>